
body {
  width: 100%;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #3E3E3E;
  background-color: #F9FFFF !important;

}

.navbar .nav > li > a {
  padding: 10px !important;
}

.navbar .nav > li > input{
  padding: 10px !important;
}


.navbar .container {
    height: 2em; 
    position: fixed !important;
    top: 0px;
    width: 100%;
    padding: 5px;


}

.social > li{

  float:right;
  height:30px;
  width: 30px;
  padding-left:10px;
  padding-top:5px;
  padding-right: 10px;
  list-style-type: none;
  display:inline;
}


.section1 {
  padding-left: 0;
  margin-top: -19px;
  height: 500px;
  background: url('mainback.jpg');
  background-repeat: no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

/* .home h1 {} h1 class specific to the parent container*/ 





.title0 {
  margin: 0;
  padding: 1%;
  position: relative;
  top: 150px;
  width: 100%;
  background-color: rgba(200, 200, 200, 0.6);
  font-size: 1.8em;
  text-align: center;
}

.title {
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10px;
  position: absolute;
  top: 400px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3em;}



.title2 {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  float:left;
  top: 200px;
  font-size: 2.5em;

}


/* Bootstrap div */

.span11 {
  margin-left: 40px;
}

.span12 {
  margin-top: 20px;
  padding-top: 30px;
  font-size: 3em;
  line-height: 20px;
}

.span4 {
  margin-top: 30px;
  height: 200px;
  width: 100px;
  border-radius: 10px;
  background-color: #BCDDEE;
  text-align: center;

}

.text {
  font-size: 18px;
  padding: 3%;
  text-align: left;

}

.span4 h1 {
  font-family: 'Graduate';
  font-size: 1.5em;
  line-height: 60px;
}



/* Second half of page */


.section2 {
  margin-top: 0;
  padding-top: 10px;
  margin-left: 0;
  width: 100%;
  height: 90px;
  background-color: #F9FFFF;
  font-size: 22px;
  line-height: 40px;
  padding-bottom: 30px;


}


.line {
  margin-top: 1px;
  padding-top: 8px;
  width: 100%;
  height: 10px;
  background-color: #A0CFE6;

}
.section3 {
  margin-left: 0;
  margin-right: 0px;
  margin-top: 1%;
  width: 100%;
  height: 60px;
  background-color: #77113c;

}

/*

.img {
  width: 100%;
  height: 100%;
  background: url('pics/image2.jpg');
  background-repeat: no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
} */




.section4 {
 width: 100%;
 height: 650px;
  background: url('Pics/image2.jpg');
  background-repeat: no-repeat no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
 font-size: 2em;
  padding-top: 20px;
 padding-left: 0px;

}

.icon{
  width:65%;
  height:65%;
  margin-top: 10px;
}

#text {

  margin-left: 5%;
  margin-top: 20px;
  font-size: 40px;
  color: #FFFFFF;
  line-height: 40px;
}

.section5 {
 width: 100%;
 height: 30px;
 margin-top: -2%;
 background-color: rgba(255, 255, 255, 0.5);
text-align: center;
}

.section6{
  background: white;
}

.partners{
margin-left: 80px;
}
.partimg{
  padding-right: 100px;
}

.section7{
 width: 100%;
 height: 20px;
 padding-left: 20px;
 margin-top: 5%;
 background-color: rgba(255, 255, 255, 0.5);
  text-align: center;}


.section8{
 width: 100%;
 height: 700px;
 padding-left: 20px;
 margin-top: 5%;
 background-color: #BCDDEE;
}

.liner {
  width: 100%;
  margin-left: -20px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}
.title3 {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  top: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3em;

}

.title3 {
  margin: 0;
  padding-top: 2%;
  padding-bottom: 2%;
  position: relative;
  top: 300px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 3em;

}


/* Horizontal bar 

.line2 {
  margin-top: 30px;
  padding-top: 5px;
  width: 30%;
  height: 2px;
  background-color: #77113c;
  border-radius: 5px; */



/*.img-rounded 
width: 50%;
border-radius: 10px;
float: left;

} */




a {
  color: #5c18e2;
} 

p {
  font-size: 16px;
}



h1 {
color: #77113c;
font-family: 'Graduate';
font-size: 1.5em;
line-height: 70px;

}
h2,
h3,
h4,
h5,
h6 {
  color: #77113c;
}

.page-header {
  border-bottom: 1pxpx solid #b2adad;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #7f003f;
  border: 1px solid #ccc;
}

.well {
  background-color: #f5f5f5;
}


.btn {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #680133, #930047);
  background-image: -ms-linear-gradient(top, #680133, #930047);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#680133), to(#930047));
  background-image: -webkit-linear-gradient(top, #680133, #930047);
  background-image: -o-linear-gradient(top, #680133, #930047);
  background-image: linear-gradient(top, #680133, #930047);
  outline: none;
  border:none !important;
  box-shadow:none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'680133, endColorstr='#'930047, GradientType=0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 10px;

}



.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #ffffff;
  background-color: #930047;
}

.btn-primary {
  background-color: #006dcc;
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #7f003f, #7f003f);
  background-image: -ms-linear-gradient(top, #7f003f, #7f003f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7f003f), to(#7f003f));
  background-image: -webkit-linear-gradient(top, #7f003f, #7f003f);
  background-image: -o-linear-gradient(top, #7f003f, #7f003f);
  background-image: linear-gradient(top, #7f003f, #7f003f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'7f003f, endColorstr='#'7f003f, GradientType=0);
  border:none !important;
  box-shadow:none !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'680133, endColorstr='#'930047, GradientType=0);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 15px;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #7f003f;
}

.btn-warning {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'fbb450, endColorstr='#'f89406, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}

.btn-danger {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ee5f5b, endColorstr='#'bd362f, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f}

.btn-success {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'62c462, endColorstr='#'51a351, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}

.btn-info {
  color: #ffffff;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'5bc0de, endColorstr='#'2f96b4, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success, .alert-success .alert-heading {
  color: #468847;
}
.alert-danger, .alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #b94a48;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info, .alert-info .alert-heading {
  color: #3a87ad;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -ms-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(top, #ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'ffffff, endColorstr='#'f2f2f2, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #727272;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #ffffff;
  border-right: 1px solid #c6c6c6;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #666666;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #424242;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #ffffff;
  background-color: #999999;
}

.label-important,
.badge-important {
  background-color: #468847;
}

.label-warning,
.badge-warning {
  background-color: #b94a48;
}

.label-success,
.badge-success {
  background-color: #f89406;
}

.label-info,
.badge-info {
   background-color: #3a87ad;
}
